parameters:
	ignoreErrors:
		-
			message: '#^You should not use the `http_response_code` function to change the response code\. Due to a PHP bug, it may not provide the expected result \(see https\://bugs\.php\.net/bug\.php\?id\=81451\)\.$#'
			identifier: glpi.forbidHttpResponseCode
			count: 1
			path: ajax/loadscripts.php

		-
			message: '#^You should not use the `http_response_code` function to change the response code\. Due to a PHP bug, it may not provide the expected result \(see https\://bugs\.php\.net/bug\.php\?id\=81451\)\.$#'
			identifier: glpi.forbidHttpResponseCode
			count: 1
			path: ajax/ticket.php

		-
			message: '#^Parameter \#2 \$withcriterias of method Rule\:\:getRuleWithCriteriasAndActions\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: front/rule.test.php

		-
			message: '#^Parameter \#3 \$withactions of method Rule\:\:getRuleWithCriteriasAndActions\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: front/rule.test.php

		-
			message: '#^You should not use the `exit` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: front/rule.test.php

		-
			message: '#^You should not use the `exit` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: front/rulesengine.test.php

		-
			message: '#^Class GlpiPlugin\\Vip\\RuleVipCollection constructor invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: front/rulevip.form.php

		-
			message: '#^Parameter \#1 \$id of static method GlpiPlugin\\Vip\\Group\:\:getVipBadge\(\) expects int, true given\.$#'
			identifier: argument.type
			count: 3
			path: hook.php

		-
			message: '#^Access to static property \$HELPDESK on an unknown class GlpiPlugin\\Mydashboard\\Menu\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Access to static property \$TABLE on an unknown class GlpiPlugin\\Mydashboard\\Widget\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setTabDatas\(\) on an unknown class GlpiPlugin\\Mydashboard\\Datatable\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setTabNames\(\) on an unknown class GlpiPlugin\\Mydashboard\\Datatable\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setWidgetTitle\(\) on an unknown class GlpiPlugin\\Mydashboard\\Datatable\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method toggleWidgetRefresh\(\) on an unknown class GlpiPlugin\\Mydashboard\\Datatable\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Instantiated class GlpiPlugin\\Mydashboard\\Datatable not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Instantiated class GlpiPlugin\\Mydashboard\\Html not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Method GlpiPlugin\\Vip\\Dashboard\:\:getWidgetsForItem\(\) has invalid return type array\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Method GlpiPlugin\\Vip\\Dashboard\:\:getWidgetsForItem\(\) should return array\<array\<array\>\> but returns array\<array\<string, array\<string, mixed\>\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Property GlpiPlugin\\Vip\\Dashboard\:\:\$datas is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Property GlpiPlugin\\Vip\\Dashboard\:\:\$form is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Property GlpiPlugin\\Vip\\Dashboard\:\:\$options is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getEntityID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Group.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getField\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Group.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:isRecursive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Group.php

		-
			message: '#^Default value of the parameter \#2 \$withtemplate \(int\) of method GlpiPlugin\\Vip\\Group\:\:getTabNameForItem\(\) is incompatible with type bool\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Group.php

		-
			message: '#^Default value of the parameter \#3 \$withtemplate \(int\) of method GlpiPlugin\\Vip\\Group\:\:displayTabContentForItem\(\) is incompatible with type bool\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Group.php

		-
			message: '#^Method GlpiPlugin\\Vip\\Group\:\:processMassiveActionsForOneItemtype\(\) with return type void returns MassiveAction but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Group.php

		-
			message: '#^Method GlpiPlugin\\Vip\\Group\:\:showForm\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Group.php

		-
			message: '#^Parameter \#2 \$withtemplate \(bool\) of method GlpiPlugin\\Vip\\Group\:\:getTabNameForItem\(\) should be compatible with parameter \$withtemplate \(int\) of method CommonGLPI\:\:getTabNameForItem\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Group.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getField\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Default value of the parameter \#2 \$openform \(true\) of method GlpiPlugin\\Vip\\Profile\:\:showForm\(\) is incompatible with type array\<string, mixed\>\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Profile.php

		-
			message: '#^Default value of the parameter \#2 \$tabnum \(int\) of method GlpiPlugin\\Vip\\Profile\:\:displayTabContentForItem\(\) is incompatible with type GlpiPlugin\\Vip\\type\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Profile.php

		-
			message: '#^Default value of the parameter \#2 \$withtemplate \(int\) of method GlpiPlugin\\Vip\\Profile\:\:getTabNameForItem\(\) is incompatible with type GlpiPlugin\\Vip\\type\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Profile.php

		-
			message: '#^Default value of the parameter \#3 \$withtemplate \(int\) of method GlpiPlugin\\Vip\\Profile\:\:displayTabContentForItem\(\) is incompatible with type GlpiPlugin\\Vip\\type\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Vip\\Profile\:\:showForm\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Profile.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$ID$#'
			identifier: parameter.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$options$#'
			identifier: parameter.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \#2 \$withtemplate \(GlpiPlugin\\Vip\\type\) of method GlpiPlugin\\Vip\\Profile\:\:getTabNameForItem\(\) should be compatible with parameter \$withtemplate \(int\) of method Profile\:\:getTabNameForItem\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \$tabnum of method GlpiPlugin\\Vip\\Profile\:\:displayTabContentForItem\(\) has invalid type GlpiPlugin\\Vip\\type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \$withtemplate of method GlpiPlugin\\Vip\\Profile\:\:displayTabContentForItem\(\) has invalid type GlpiPlugin\\Vip\\type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \$withtemplate of method GlpiPlugin\\Vip\\Profile\:\:getTabNameForItem\(\) has invalid type GlpiPlugin\\Vip\\type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^PHPDoc tag @return has invalid value \(\)\: Unexpected token "\\n     ", expected type at offset 48 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/RuleVip.php

		-
			message: '#^PHPDoc tag @return has invalid value \(\)\: Unexpected token "\\n     \* ", expected type at offset 71 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/RuleVip.php

		-
			message: '#^Class GlpiPlugin\\Vip\\RuleVipCollection constructor invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/Vip.php
